# Build folders
bin/
obj/
publish/

# Visual Studio
.vs/
*.suo
*.user
.vscode/

# Build output
*.exe
*.dll
*.pdb
*.config

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

UpgradeLog.htm
